.optional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.interactive {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  font-size: 12px;
}

input {
  background-color: #bdbdbd96;
  border-color: transparent;
  border-radius: 25px;
  border-width: 1px;
  width: 200px;
  margin-right: 8px;
}

button {
  font-size: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
}
