.wrapper {
  background-color: #dddddd15;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 8px;
  margin: 8px;
  max-width: 900px;
}
