<div class="wrapper">
  <div class="media-wrapper">
    <div class="image-wrapper" *ngIf="apodMediaType === 'image'; else isVideo">
      <a [href]="apodMediaHD" *ngIf="apodMediaHD != null; else noHD">
        <img [src]="apodMedia">
      </a>
      <ng-template #noHD>
        <img [src]="apodMedia">
      </ng-template>
    </div>

    <ng-template #isVideo>
      <div class="video-wrapper">
        <iframe [src]="bypassSecurityURL(apodMedia)" width="800px" height="500px" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </ng-template>
  </div>
</div>
